{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <main>
        <section id="hero" class="red-hero-img">
            <h1>{{ category.name }}</h1>
            <img src="/Media/image/testalize-me-igSTmAWAW3s-unsplash%201.png" alt="Tubes dans un automate">
        </section>
        <section id="detail">
            <h2>Appercu</h2>
            <p>{{ category.preview }}</p>
            <h2>Tests effectuées</h2>
            {% for analysis in analyses %}
                {{ analysis.description|raw }}
            {% endfor %}
            <h2>Equipement</h2>
            {{ category.equipment|raw }}
            <h2>Accréditations</h2>
            <ul>
                <li>COFRAC</li>
                <li>ISO 9001</li>
                <li>ISO 15189</li>
            </ul>
            <div>
                <h2>Délai du test</h2>
                <p>{{ category.deadline }}</p>
            </div>
        </section>
    </main>
{% endblock %}
