{% extends 'base.html.twig' %}

{% block title %}Analysis{% endblock %}

{% block body %}
    <main id="analysis_show">
    <h1>Liste des analyses</h1>
    {% for category in categories %}
        <article class="box">
            <h2>{{ category.name }}</h2>
            <ul>
                {% for analysi in category.analysis %}
                    <li><h3>{{ analysi.name }} </h3> <div>{{ include('analysis/_delete_form.html.twig') }}
                            <a href="{{ path('app_analysis_edit', {'id': analysi.id}) }}"><img src="{{ asset('Media/icon/crayon.png') }}" alt=""></a></div></li>
                {% endfor %}
            </ul>
        </article>
    {% endfor %}
    </main>
{% endblock %}
