{% extends 'base.html.twig' %}

{% block title %}Boîte de réception !{% endblock %}

{% block body %}
    <main>
        <h1>Boîte de réception</h1>

        <nav>
            <ul>
                <li><a href="{{ path('messages_sent') }}">Messages envoyés</a></li>
                <li><a href="{{ path('message_send') }}">Envoyer un nouveau message</a></li>
            </ul>
        </nav>

        <ul>
            {% for message in messages %}
                <li class="{{ message.isRead ? 'read' : '' }}">
                    <a href="{{ path('message_view', { 'id': message.id , 'read': 1 }) }}">
                        {{ message.subject ?: 'Sans sujet' }}
                        (Dernier message : {{ message.modifyAt|date('d/m/Y H:i') }}) -
                        {{ message.isRead ? 'lu' : 'non lu' }}
                    </a>
                </li>
            {% else %}
                <li>Aucune conversation.</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
