{% extends 'base.html.twig' %}

{% block title %}Envoyer un message{% endblock %}

{% block body %}
<main class="form">
    <h1>Envoyer un message</h1>

    {{ form_start(messageForm) }}

    {% if messageForm.patient is defined %}
        {{ form_row(messageForm.patient) }}
    {% endif %}

    {% if messageForm.employer is defined %}
        {{ form_row(messageForm.employer) }}
    {% endif %}

    {{ form_row(messageForm.subject) }}
    {{ form_row(messageForm.content) }}

    <button type="submit">Envoyer</button>

    {{ form_end(messageForm) }}

</main>
{% endblock %}
