{% extends 'base.html.twig' %}

{% block title %}Liste des comptes professionnels{% endblock %}

{% block body %}
    <main >
        <h1 class="mb-4">Liste des comptes professionnels</h1>
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
            {% for user in users %}
                            <article>
                                <h2>{{ user.name }}</h2>
                                <form method="post"
                                      action="{{ path('app_user_delete', {'id': user.id}) }}"
                                      onsubmit="return confirm('Voulez-vous vraiment supprimer ce compte ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete-user' ~ user.id) }}">
                                    <button class="btn btn-danger btn-sm" type="submit"><img src="{{ asset('Media/icon/poubelle.png') }}" alt=""></button>
                                </form>
                                <a href="{{ path('app_user_modify', {'id': user.id}) }}" class="btn btn-primary btn-sm"><img
                                            src="{{ asset('Media/icon/crayon.png') }}" alt=""></a>
                            </article>
            {% else %}
                <div>
                    <div>Aucun utilisateur trouvé.</div>
                </div>
            {% endfor %}
        </div>

        <div class="mt-4">
            {{ knp_pagination_render(users) }}
        </div>
    </main>
{% endblock %}
