{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <main id="service">
        <section class="hero">
            <h1>Bienvenue {{ app.user.name }} !</h1>
        </section>
        <section class="account-home">
            <article class="box">
                <h2>Rendez-vous</h2>
                <ul>
                    <li><a href="{{ path('app_appointment_add') }}">Ajouter un rendez-vous</a></li>
                    <li><a href="{{ path('app_appointment') }}">Liste des rendez-vous</a></li>
                </ul>
            </article>
            {% if is_granted('ROLE_ADMIN') %}
            <article class="box">
                <h2>Compte professionnel</h2>
                <ul>
                    <li><a href="{{ path('app_user_pro_list') }}">Liste des comptes professionnels </a></li>
                    <li><a href="{{ path('app_register',{'role':'admin'}) }}">Creer un compte admin</a></li>
                    <li><a href="{{ path('app_register',{'role':'employee'}) }}">Creer un compte employer</a></li>
                </ul>
            </article>
            <article class="box">
                <h2>Catégories</h2>
                <ul>
                    <li><a href="{{ path('app_categories_new') }}">Ajouter une categories</a></li>
                    <li><a href="{{ path('app_categories_list') }}">Liste des categories</a></li>
                </ul>

            </article>
            <article class="box">
                <h2>Analyses</h2>
                <ul>
                    <li><a href="{{ path('app_analysis_new') }}">Ajouter une analyse</a></li>
                    <li><a href="{{ path('app_analysis_list') }}">Liste des analyses</a></li>
                </ul>

            </article>
            {% endif %}
        </section>

    </main>
{% endblock %}
