{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main class="form">
    <h1>
        {% if role == 'customer' %}
            Inscription
        {% endif %}
        {% if role == 'admin' %}
            Création d'un compte admin
        {% endif %}
        {% if role == 'employee' %}
            Création d'un compte employer
        {% endif %}
    </h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.name) }}
        {% if role == 'customer' %}
            {{ form_row(registrationForm.social_security_number.number) }}
        {% endif %}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Inscription</button>
    {{ form_end(registrationForm) }}
    </main>
{% endblock %}
