{% extends 'base.html.twig' %}

{% block title %}Ajouter un {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
{% endblock %}
{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <script src="{{ asset('js/appointment.js') }}" defer ></script>
{% endblock %}
{% block body %}
    <main class="form" aria-label="Formulaire de modification du prélèvement médical">
        <section class="hero white">
            <h1>Modification du prélèvement médical du {{ getDate }} à {{ getTime }}</h1>
        </section>
        <section id="reservation" aria-live="polite" aria-atomic="true">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {{ form_start(form) }}
            {% if form.patient is defined %}
                {{ form_row(form.patient) }}
            {% endif %}

            {% if form.socialSecurityNumber is defined %}
                {{ form_row(form.socialSecurityNumber) }}
            {% endif %}
            {{ form_row(form.categories) }}
            {{ form_row(form.date) }}
            <div>
                <label for="time_select">Heure du rendez-vous</label>
                <select id="time_select" aria-required="true" aria-describedby="timeHelp">
                    <option value="">Choisissez un créneau</option>
                    {# Options ajoutées dynamiquement par JS #}
                </select>
                {# L'id timeHelp correspond à une description pour les lecteurs d'écran #}
            </div>

            {{ form_widget(form.time) }}

            <button type="submit" aria-label="Confirmer la réservation">Confirmer la réservation</button>

            <div class="notification">
                <a href="{{ path('app_appointment') }}" aria-label="Voir mes rendez-vous">
                    <img src="/Media/image/horloge.png" alt="Icône horloge">
                    <p>Mes rendez-vous</p>
                </a>
            </div>
            {{ form_end(form) }}
        </section>

    </main>
{% endblock %}
